---
- name: Ping hosts
  ping:

- name: Check OS
  ansible.builtin.debug:
    msg: "{{ ansible_os_family }}-{{ ansible_distribution }}{{ ansible_distribution_version }}-{{ ansible_distribution_release }}"

- name: Download and install zabbix repo
  ansible.builtin.apt:
    deb: https://repo.zabbix.com/zabbix/6.0/{{ ansible_distribution | lower }}/pool/main/z/zabbix-release/zabbix-release_6.0-4+{{ ansible_distribution | lower }}{{ ansible_distribution_version }}_all.deb
  when: ansible_os_family == "Debian"

- name: Install zabbix-agent2
  ansible.builtin.apt:
    pkg:
    - zabbix-agent2
    - zabbix-agent2-plugin-*
    update_cache: yes
  when: ansible_os_family == "Debian"

- name: Make sure zabbix-agent2 is stopped
  ansible.builtin.systemd:
    state: stopped
    name: zabbix-agent2

- name: Check zabbix user, home dir and shell
  ansible.builtin.user:
    name: zabbix
    shell: /bin/bash
    home: /etc/zabbix
    state: present

- name: Create /etc/zabbix/scripts directory
  ansible.builtin.file:
    path: /etc/zabbix/scripts
    state: directory
    owner: zabbix
    group: zabbix
    mode: 0700

- name: Change zabbix_agent2.conf Hostname
  ansible.builtin.lineinfile:
    path: /etc/zabbix/zabbix_agent2.conf
    regexp: '^Hostname=*'
    line: "Hostname={{ ansible_hostname }}"
    state: present

- name: Change zabbix_agent2.conf ServerActive
  ansible.builtin.lineinfile:
    path: /etc/zabbix/zabbix_agent2.conf
    regexp: '^ServerActive='
    line: "ServerActive={{ zbx_srv_ip }}"
    state: present

- name: Change zabbix_agent2.conf Server
  ansible.builtin.lineinfile:
    path: /etc/zabbix/zabbix_agent2.conf
    regexp: '^Server='
    line: "Server={{ zbx_srv_ip }}"
    state: present

- name: Populate service facts
  ansible.builtin.service_facts:

- name: Setup mysql plugin
  include_tasks:
    file: mysql_plugin.yaml

- name: Stop and disable zabbix-agent1
  ansible.builtin.systemd:
    name: zabbix-agent
    state: stopped
    enabled: false
  when: ansible_facts.services['zabbix-agent.service'] is defined

- name: Start and enable zabbix-agent2
  ansible.builtin.systemd:
    name: zabbix-agent2
    state: started
    enabled: true